<footer class="site-footer">
  <div class="branding">
    <img src="assets/images/summer-wraps_logo.png">
  </div>
  <div class="content">
    <div class="container footer__row">
      <div>
        <p class="footer__title">{{businessName}}</p>
        <p class="footer__meta">
          {{addressLine}}
        </p>
      </div>

    </div>

      <div class="footer__actions">
        <a class="btn btn--tan btn--sm" href="{{primaryCtaHref}}">{{primaryCtaText}}</a><br>
        <a class="btn btn--light btn--sm" href="tel:{{phoneRaw}}">{{phoneDisplay}}</a>
      </div>

    </div>
  </div>
  <p class="footer__copy">© <span data-year></span> {{businessName}}</p>
</footer>